<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.2/css/bootstrap.min.css}" />
    <title>ToDo-App</title>
    <style>
        body {
            margin: 20px;
        }
        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1rem;
        }
        .filter-form {
            margin-bottom: 1rem;
        }
        .filter-input {
            width: 250px;
        }
        .filter-buttons {
            margin-top: 1rem;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>Welcome <span th:text="${name}"></span>!!</h1>
            <a class="btn btn-outline-danger" href="/signout">
                <i class="bi bi-box-arrow-right"></i> Sign Out
            </a>
        </div>
        <hr />

        <form class="form-inline filter-form" th:action="@{/filter}" method="get">
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control form-control-sm filter-input" id="startDate" name="startDate" required>
            </div>
            <div class="form-group ml-3">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control form-control-sm filter-input" id="endDate" name="endDate" required>
            </div>
            <div class="form-group ml-3">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="completedCheckbox" name="completedCheckbox">
                    <label class="form-check-label" for="completedCheckbox">Completed</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="notCompletedCheckbox" name="notCompletedCheckbox">
                    <label class="form-check-label" for="notCompletedCheckbox">Not Completed</label>
                </div>
            </div>
            <div class="form-group ml-3 filter-buttons">
                <button type="submit" class="btn btn-primary btn-sm">Filter</button>
                <a class="btn btn-secondary btn-sm" th:href="@{/clear-filter}" role="button">Clear Filter</a>
            </div>
        </form>
        
    
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>Id</th>
                    <th>Description</th>
                    <th>Is Complete</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Store</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="item : ${todoItems}" th:class="${item.isComplete} ? 'alert alert-success' : 'alert alert-warning'">
                    <td>
                        <div class="btn btn-group-sm" role="group">
                            <a class="btn btn-info" th:href="@{/edit/{id}(id=${item.id})}">
                                <i class="bi bi-pencil-fill"></i> Edit</a>
                            <a class="btn btn-danger" th:href="@{/delete/{id}(id=${item.id})}">
                                <i class="bi bi-trash-fill"></i> Delete</a>
                        </div>
                    </td>
                    <td th:text="${item.id}"></td>
                    <td th:text="${item.description}"></td>
                    <td>
                        <span th:if="${item.isComplete} == true" th:text="Yes"></span>
                        <span th:unless="${item.isComplete} == true" th:text="No"></span>
                    </td>
                    <td th:text="${item.itemCategory}"></td>
                    <td th:text="${item.quantity}"></td>
                    <td th:text="${item.storeName}"></td>
                    <td th:text="${item.createdAt}"></td>
                </tr>
            </tbody>
        </table>
    
        <p>
            <a class="btn btn-outline-success" href="/create-todo">
                <i class="bi bi-plus-square-fill"></i> Create a ToDo</a>
        </p>
    </div>
    <script th:src="@{/webjars/bootstrap/5.2.2/js/bootstrap.min.js}"></script>
</body>
</html>